# ROS 2 build files
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# Colcon
.colcon/

# VS Code
.vscode/

# Temporary files
*.swp
*.tmp

# Gazebo / simulation logs
*.log

# Large generated data
*.bag
*.db3
*.csv
*.pcd
*.ply
*.png
*.jpg
*.jpeg

# Virtual environments
venv/
.venv/

